<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.swimmingcompetitions.swimmingcompetitions">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".LogInActivity">
            <tools:validation testUrl="http://swimming-competitions.com/swimming-competitions" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="swimming-competitions.com"
                    android:pathPattern="/swimming-competitions"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePageActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".PreRegisterActivity" />
        <activity android:name=".CreateNewCompetitionActivity" />
        <activity android:name=".ViewCompetitionsActivity" />
        <activity android:name=".ViewCompetitionActivity" />
        <activity android:name=".IterationsActivity" />
        <activity android:name=".RegisterTempUserActivity" />
        <activity android:name=".ViewCompetitionResultsActivity" />
        <activity android:name=".ViewPersonalResultsActivity" />
        <activity android:name=".ViewCompetitionParticipantsActivity" />
        <activity android:name=".MySettingsActivity" />
        <activity android:name=".MyPersonalInformationActivity" />
        <activity android:name=".MyChildrenActivity" />
        <activity android:name=".MyMessagesActivity" />
        <activity android:name=".PreCompetitionRegisterActivity" />
        <activity android:name=".GoogleRegisterActivity" />
        <activity android:name=".AddChildToParentActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".ViewStatisticsActivity" />
        <activity android:name=".ViewInRealTimeActivity"></activity>
    </application>

</manifest>