<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swimming.amirl.swimmimg_competitions">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/playstore_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.swimming.amirl.swimmimg_competitions.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePageActivity" />
        <activity android:name=".PreRegisterActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".UserGuideActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".GoogleRegisterActivity" />
        <activity android:name=".AddChildToParentActivity" />
        <activity android:name=".ChangeEmailActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".CreateNewCompetitionActivity" />
        <activity android:name=".IterationsActivity" />
        <activity android:name=".MyChildrenActivity" />
        <activity android:name=".MyPersonalInformationActivity" />
        <activity android:name=".MySettingsActivity" />
        <activity android:name=".PreCompetitionRegisterActivity" />
        <activity android:name=".RegisterExistingUserActivity" />
        <activity android:name=".RegisterTempUserActivity" />
        <activity android:name=".ViewCompetitionActivity" />
        <activity android:name=".ViewCompetitionMediaActivity" />
        <activity android:name=".ViewCompetitionResultsActivity" />
        <activity android:name=".ViewCompetitionsActivity" />
        <activity android:name=".ViewImageActivity" />
        <activity android:name=".ViewInRealTimeActivity" />
        <activity android:name=".ViewMediaActivity" />
        <activity android:name=".ViewPersonalResultsActivity" />
        <activity android:name=".ViewStatisticsActivity"></activity>
    </application>

</manifest>